/*========================默认样式=========================*/
/*========================default css======================*/
@charset "UTF-8";
html,body,div,section,article,aside,nav,footer,p,dl,dt,dd,ul,li,ol,span,em,a,del,h1,h2,h3,h4,h5,h6,iframe,object,form, label, legend,caption, tbody, tfoot, thead, tr, th, td,menu,audio,video{padding:0;margin:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
ul,ol,li{list-style: none;}
html{font-family:Arial,'PingFang SC','Microsoft YaHei',Verdana,san-serif;font-size:12px;color:#333;background: #f0f0f0;width:100%;}
img{border:none;vertical-align:middle;}
em,i{font-style: normal;}
input,button,select,option,textarea{cursor:pointer;outline:none;font-family:Arial,'PingFang SC','Microsoft YaHei',Verdana,san-serif;}
.clearfix:after{clear:both;height:0;content:'';display: block;overflow: hidden;}
.clearfix{zoom:1;}
a {text-decoration:none;background-color: transparent;color: inherit;}
a:active,a:hover {outline: 0;}

/*========================首页=========================*/


